<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="f8605e6a-f110-4cce-9fc9-6b3fbd9f6c75"
            Publisher="CN=Mitch"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Transrascal.Operations.WindowsRetailAuditor</DisplayName>
    <PublisherDisplayName>Mitch</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Transrascal.Operations.WindowsRetailAuditor.App">
        <m2:VisualElements
            DisplayName="Transrascal.Operations.WindowsRetailAuditor"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="Transrascal.Operations.WindowsRetailAuditor"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>